<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../allframes/font-awesome.min.css">
    <link rel="stylesheet" href="../allframes/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../allframes/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
<div class='home' id="qwer">
    <div id='navs'>
        <div class="buttonBox">
            <div class='nav' type="button"></div>
            <div class='nav' type="button"></div>
            <div class='nav' type="button"></div>
            <div class='nav' type="button"></div>
        </div>

    </div>
    <div class="allThePaper" id="must">
        <div class="homeUp" id="q">
            <div class="spaceBoxFirst"></div>
            <div class="me">
                <div class='tips'></div>
                <div class="homeMessage" id="hoMessage">
                    你好，我是刘小四，一名普通的前端工程师
                </div>
                <canvas id="myCanvas" width="1550" height="1550";></canvas>
            </div>
            <div class="spaceBoxSecond"></div>


        </div>
        <div class='homeMiddle' id="w">
            <div id="middleBody">
                <div class="navboxlist">
                    <ul class="navlist">
                        <li><a href="../view/weather.html" target="_blank">天气查询</a></li>
                        <li><a href="../view/smallBoxFlying.html" target="_blank">会飞的盒子</a></li>
                        <li><a href="../view/snow.html" target="_blank">漫天飞雪</a></li>
                        <li><a href="../view/location.html" target="_blank">显示单击的坐标</a></li>
                        <li><a href="../view/clock.html" target="_blank">canvas时钟</a></li>
                        <li><a href="../view/changeAll.html" target="_blank">渐变</a></li>
                        <li><a href="../view/vueExamples.html" target="_blank">vue小例子</a></li>
                        <li><a href="../view/five.html" target="_blank">vuebootstrap五大名山</a></li>
                    </ul>
                </div>
                <div class="navboxlist">
                    <ul class="navlist">
                        <li><a href="../view/photoShop.html" target="_blank">学校期间的PS作品</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='homeThird' id="e">
            <div style="background:black">
                <div>

                </div>
            </div>
        </div>
        <div class='homeDown' id="r">
            <div style="background:purple">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../allframes/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../services/home.js"></script>
</body>
