<link rel="stylesheet" href="../stylesheets/home.css">
<body>
  <div class='home' id="qwer">
                    <div id='navs'>
                        <div class='nav' type="button" ></div>
                        <div class='nav' type="button" ></div>
                        <div class='nav' type="button" ></div>
                        <div class='nav' type="button" ></div>
                    </div>
      <div class="allThePaper" id="must">
            <div class="homeUp" id="q">
                    <div class="me">
                        <div class="firstPic">
                            <img class='smallPic' id="head" />
                        </div>
                        <div class='tips'></div>
                        <div class="homeMessage" id="hoMessage"></div>
                    </div>
            </div>
            <div class='homeMiddle' id="w">
                <div>
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class='homeThird' id="e">
                <div style="background:black">
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class='homeDown' id="r">
                <div style="background:purple">
                    <div>
                        
                    </div>
                </div>
            </div>
      </div>
  </div>
  <script type="text/javascript" src="../services/home.js"></script>
</body>
