<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <style type="text/css">
        img {
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
<div><img src="../images/always.jpg"/></div>
<div><img src="../images/clock.jpg"/></div>
<div><img src="../images/cloud.jpg"/></div>
<div><img src="../images/flower.png"/></div>
<div><img src="../images/ticket.jpg"/></div>
<div><img src="../images/sound.jpg"/></div>
<div><img src="../images/youku.jpg"/></div>
<div><img src="../images/google.jpg"/></div>
<div><img src="../images/post.jpg"/></div>
<div><img src="../images/news.jpg"/></div>
<div><img src="../images/light.jpg"/></div>
</body>
</html>