<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<style type="text/css">
    *{
    	padding: 0px;
    	margin: 0px;
    }
    body{
    	background: black;
    	
    }
    #box{
    	float: left;
    	width:1990px;
    	height: 900px;
    	border:1px solid red;
    	position: relative;
    	overflow: hidden;
    }
    #box div{
    	position: absolute;
    }
    #btn{
    	width: 150px;
    	height: 60px;
    	background: red;
    	color: white;
    	text-align: center;
    	line-height: 60px;
    }
	</style>
</head>
<body>
    <div id="btn" onclick="star()">点我就下雪</div>
    <div id="box"></div>
<script type="text/javascript">
    var Box = document.getElementById('box');
   	function createSnow(l,t,s){
   	 var newNode = document.createElement("div");
	       newNode.style.width = "30px";
	       newNode.innerHTML = "*";
	       newNode.style.color = "white";
	       newNode.style.opacity = Math.random()*10;
	       newNode.style.fontSize = Math.random()*50+"1px";
         newNode.style.height=s+"px";
         newNode.style.width=s+"px";
         newNode.style.left=l+"px";
         newNode.style.top=t+"px";
     Box.appendChild(newNode);
     startMove(newNode);
   	}
   	var Y = 0;
    function star(){
   		setInterval(function(){
          var topL = parseInt(Math.random()*1770);
     	 		var leftL =  parseInt(Math.random()*40);
     	 		var rightL = (Math.random()*10);
     		   createSnow(topL,leftL,rightL);
   		},3500);
   	}
    function startMove(qwe){
   		   var Y = qwe.offsetTop;
   		   var time  = null;
   		   function move(){
   			  Y++;
   			  qwe.style.top = Y +"px";
   			  if(Y >900){
   			  	 clearInterval(time);
   				   Box.removeChild(qwe);
   			}
   		}
   		  time=setInterval(move,10);
   	}
   </script>
</body>
</html>
