<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<style type="text/css">
    #resturantName{
        animation: resturant 5s;
        -moz-animation: resturant 5s infinite; /* Firefox */
        -webkit-animation: resturant 5s infinite;  /* Safari 和 Chrome */
        -o-animation: resturant 5s infinite;   /* Opera */
        }
        @keyframes resturant 
        {
        from {background: red;}
        to {background: yellow;}
        }

        @-moz-keyframes resturant /* Firefox */
        {
        from {background: red;}
        to {background: yellow;}
        }

        @-webkit-keyframes resturant /* Safari 和 Chrome */
        {
        from {background: red;}
        to {background: yellow;}
        }

        @-o-keyframes resturant /* Opera */
        {
        from {background: red;}
        to {background: yellow;}
        }

</style>
<body>

     <div id="father" style="margin-top:100px">
        <div id="resturantName" v-bind:style="myNameStyle">刘小四杀马特外卖</div>
        <you-resturant></you-resturant>
         <div>
            <!-- <div v-bind:style="divLeft">
                <div v-for="item in resturantMenu" v-bind:style="resturantStyle">{{ item.text}}<div v-bind:style="addOrDelete" v-on:click="deleteNum(item)">-</div><div v-bind:style="addOrDelete">{{item.num}}</div><div v-bind:style="addOrDelete" v-on:click="select(item)">+</div>
            </div>
            </div> -->
            
        </div>
       
     </div>
     <script src="../allframes/vue.js"></script>
     <script type="text/javascript">
        var data = {resturant:[
                            {text:"老成都饭店",
                            select:false,
                             show:false,
                             Menu:[
                            {text:"黄焖鸡",num:0},
                            {text:"蒸熊掌",num:0},
                            {text:"烧花鸭",num:0},
                            {text:"烧雏鸡",num:0},
                            {text:"烧子鹅",num:0},
                            {text:"宫保鸡丁",num:0},
                            {text:"酱牛肉",num:0},
                            {text:"烤鸡腿",num:0}
                            ]
                        },
                            {text:"圣华苑饭店",
                            select:false,
                             show:false,
                             Menu:[
                            {text:"北京烤鸭",num:0},
                            {text:"四川麻婆豆腐",num:0},
                            {text:"西湖醋鱼",num:0},
                            {text:"飞龙汤",num:0},
                            {text:"无为熏鸭",num:0},
                            {text:"腊味合蒸",num:0},
                            {text:"东坡肉",num:0},
                            {text:"辣子鸡",num:0}
                            ]
                        },
                            {text:"积香居饭店",
                            select:false,
                             show:false,
                             Menu:[
                              {text:"水晶肴蹄",num:0},
                            {text:"清炖蟹粉狮子头",num:0},
                            {text:"金陵丸子",num:0},
                            {text:"黄泥煨鸡",num:0},
                            {text:"清炖鸡孚",num:0},
                            {text:"鸡汤煮干丝",num:0},
                            {text:"金香饼",num:0},
                            {text:"盐水鸭",num:0}
                             ]}],
                        youResturantStyle:{
                            float:"left",
                            width:"305px",
                            height:"80px",
                            fontSize:"45px",
                            fontFamily:"黑体",
                            marginTop:"20px",
//                             marginLeft:"60px",
                            background:"#42b983",
                            border:"1px solid black",
                            textAlign:"center",
                            lineHeight:"80px" 
                        },
                        MenuStyle:{
                            marginTop:"10px",
                            width:"290px",
                            height:"50px",
                            float:"left"
                        },
                        addOrDelete:{
                        float:"right",
                        width:"40px",
                        height:"40px",
                        fontSize:"30px",
                        border:"1px solid black",
                        textAlign:"center",
                        lineHeight:"30px"
                         },
                         allEatStyle:{
                        float:"right",
                        marginRight:"100px",
//                         marginTop:"200px",
                        float:"left",
                        width:"400px",
                        height:"500px"
                         },
                        Menu:[
                            {text:"黄焖鸡",num:0},
                            {text:"蒸熊掌",num:0},
                            {text:"烧花鸭",num:0},
                            {text:"烧雏鸡",num:0},
                            {text:"烧子鹅",num:0},
                            {text:"宫保鸡丁",num:0},
                            {text:"酱牛肉",num:0},
                            {text:"烤鸡腿",num:0}
                            ],
                        submitStyle:{
                        marginLeft:"60px",
                        marginTop:"40px",
                        width:"120px",
                        height:"50px",
                        background:"red",
                        fontSize:"30px",
                        float:"left"
                },
                        dex:false,
                        allEat:[]
            }
         Vue.component('you-resturant', {
          template: '<div v-for="which in resturant" v-bind:style="youResturantStyle" v-on:click="changeShow(which)">{{which.text}}<div><div v-for="name in which.Menu" v-if="which.show" v-bind:style="MenuStyle">{{name.text}}<div v-bind:style="addOrDelete" v-on:click.stop="deleteNum(name)">-</div><div v-bind:style="addOrDelete">{{name.num}}</div><div v-bind:style="addOrDelete"  v-on:click.stop="select(name)">+</div></div></div><button v-bind:style="submitStyle" v-on:click="selectTheEat(name)">确认</button></div><div v-bind:style="allEatStyle">{{allEat}}</div>',
           // 技术上 data 的确是一个函数了，因此 Vue 不会警告，
           // 但是我们返回给每个组件的实例的却引用了同一个data对象
          data: function () {
            return data;
          },
          methods:{
            changeShow:function(index){
                for(var i=0;i<data.resturant.length;i++){
                    data.resturant[i].show = false;
                }
                if(index.show===true){
                     index.show = false;
                }else{
                    index.show=true;
                }
            },
            select:function(index){
          
                      index.num++;

                },
            deleteNum:function(index){
                    if(index.num>0){
                        index.num--;
                    }
                },
            selectTheEat:function(par){
                    for(var k=0;k<data.resturant.length;k++){
                        for(var j=0;j<data.resturant[k].Menu.length;j++){
                            if(data.resturant[k].Menu[j].num!==0&&data.resturant[k].show===true){
                                data.allEat.push(data.resturant[k].text+""+data.resturant[k].Menu[j].text+data.resturant[k].Menu[j].num)
                            }
                        }
                    }
                    if(data.allEat.length===0){
                            alert("请选择你要吃的菜品");
                        }
                }
          }
        })


        new Vue({
            el:'#father',
            data:{
                resturantMenu:[
                {text:"黄焖鸡",num:0},
                {text:"蒸熊掌",num:0},
                {text:"烧花鸭",num:0},
                {text:"烧雏鸡",num:0},
                {text:"烧子鹅",num:0},
                {text:"宫保鸡丁",num:0},
                {text:"酱牛肉",num:0},
                {text:"烤鸡腿",num:0}
                ],
                resturantStyle:{
                    width:"600px",
                    height:"50px",
                    fontSize:"18px",
                    fontFamily:"黑体",
                    marginTop:"20px",
                    marginLeft:"60px",
                    background:"#42b983"
                    // textAlign:"center"
                },
                resturantImage:{
                    width:"100px",
                    height:"100px"
                },
                addOrDelete:{
                    float:"right",
                    width:"20px",
                    height:"20px",
                    fontSize:"18px",
                    border:"1px solid black",
                    textAlign:"center",
                    lineHeight:"20px"
                },
                submitStyle:{
                    marginLeft:"60px",
                    marginTop:"40px",
                    width:"100px",
                    height:"40px",
                    background:"red",
                    float:"left"

                },

                divLeft:{
                    padding:"20px",
                    marginTop:"10px",
                    // background:"#42b983",
                    width:"300px",
                    height:"950px"
                },
                allEat:[],
                myNameStyle:{
                    width:"1000px",
                    height:"50px",
                    textAlign:"center",
                    fontSize:"25px",
                    lineHeight:"50px"
                }
            
            }
        })

     </script>
</body>
</html>
